.runTogether{
    position: relative;

}

.runTogether>p{
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 3rem;
    max-width: 300px;
    color: white;
    font-weight: 700;
}

.runTogether>small{
    position: absolute;
    top: 50%;
    max-width: 480px;
    left: 8%;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

.runTogether> img{
    width: 100%;
    object-fit: contain;
    height: 100vh;
}

.runTogether >div{
    display: flex;
    position: absolute;
    top: 58%;
    left: 8%;
    border: 2px solid white;
    width: 10%;
    /* height: 5%; */
    background-color: white;
    padding: 20px;
    border-radius: 5%;
    cursor: pointer;

}
.runTogether>div:hover {
    color: gray;

}
.runTogether>div>p{
    position: absolute;
    top: -25%;
    font-size: 1rem;
    font-weight: 600;
}

.runTogether>div>:nth-child(2){
    position: absolute;
    left: 70%;
    top: 15%;
    /* width: 100px; */
    /* color: red; */
}


.popularRightNow{
    display: flex;
    flex-direction: column;

}
.popularRightNow>h1{
    text-align: center;
    font-style: italic;
}
.popularRightNow>div{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: center;

}

.popularRightNow>div>span{
    padding: 10px;
    border: 1px solid #E0E0E0;
    margin: 10px;
    border-radius: 5px;
}

.popularRightNow>div>span:hover{
    border: 1px solid #111;

}

.gender{
    display: flex;
    flex-direction: column;
    margin-left: 8%;
}
.genderOptions{
    display: flex;
    flex-direction: row;
    width: 100%;
    object-fit: contain;
    position: relative;
}

.genderOptions>div{
    /* display: flex; */
    /* flex-direction: row; */
    height: 41vh;
    width: 54vh;
    /* border: 1px solid black; */
    margin: 10px;
    }
.genderOptions>div>img{
    width: 100%;
    object-fit: contain;
}
.genderOptions>div>span{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:40%;
    /* left: 15%; */
    margin-left: 10%;
    font-size: 3rem;
    font-weight: 600;
    color: white;

}