.newArrivalsCarousel{
    /* overflow-x: hidden; */
    width: 90%;
    position: relative;
}
.newArrivalsCarousel>h1{
    margin-left: 9%;
    font-style: italic;
}

.newArrivalsCarousel>:nth-child(2) {
    position: absolute;
    right: 0px;
    top: 20px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}
.newArrivalsCarousel>:nth-child(3){
    margin-left: 5%;
    /* border: 2px solid black; */

}

